[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone
	branch = next
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/unicorn-engine/unicorn
	branch = master
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
