attrs==21.4.0
capstone==4.0.2
enum34==1.1.10
future==0.18.2
iniconfig==1.1.1
isort==5.10.1
packaging==21.3
pbr==5.9.0
pluggy==1.0.0
psutil==5.9.1
py==1.11.0
pycparser==2.21
pyelftools==0.28
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.1.2
python-ptrace==0.9.8
ROPGadget==6.8
six==1.16.0
testresources==2.0.1
tomli==2.0.1
unicorn==2.0.0
